body {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    height: 70%;
    margin: auto;
}

.content {
    margin-top: 30px;
}

.left-side {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.expense-form {
    /*widt: */
    background: #fff;
    border-radius: 14px;
    padding: 24px;
    width: 360px;
    box-shadow: 0 0 0 1px #eee;
}

.expense-form h2 {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
}

.expense-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 18px;
}

.form-group label {
  font-size: 13px;
  font-weight: 500;
  color: #333;
}

input,
select {
  height: 42px;
  padding: 0 12px;
  border-radius: 10px;
  border: none;
  background: #f4f4f5;
  font-size: 14px;
  outline: none;
}

input:focus,
select:focus {
  box-shadow: 0 0 0 2px #e5e7eb;
}

select:disabled {
  opacity: 0.6;
}


/*.form-group input {*/
/*    max-width: 150px;*/
/*}*/

.full-width {
    grid-column: span 2;
}

.submit-btn {
  grid-column: span 2;
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  height: 44px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(90deg, #050505, #1a1a1a);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.9;
}
