{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
</head>
<body>
    <main>
        <div class="title">
            <h1>Expense Tracker</h1>
            <p>Track your spending and manage your budget effectively</p>
        </div>

        <div class="content">
            <div class="left-side">
                <div class="expense-form">
                    {% include 'expense-form.html' %}
                </div>
                <div class="filter">
                        {% include 'filter.html' %}
                </div>

            </div>
            <div class="right-side">
                <div class="overview">
{#                    {% include 'overview.html' %}#}

                    <div class="view-switch">
                        <a href="{% url 'expense-tracker' %}" class="view">Overview</a>
                        <a href="{% url 'expense_list' %}" class="view">All Expenses</a>
                    </div>
                    {% block overview %}

                    {% endblock overview %}
                </div>

                <div class="calendar_widget">
                    {% include 'calendar.html' %}
                </div>

            </div>

        </div>
    </main>
</body>
</html>