{% extends 'base.html' %}

{% block overview %}

    {% if not expenses %}
        <div class="no-expenses">
            <h3>$</h3>
            <p>No expenses yet. Add your first expense to get started!</p>
        </div>

    {% else %}

        <div class="expenses">
            <h4>Recent Expenses</h4>

            {% for expense in expenses %}
                <div class="expense">
                    <div class="expense-info">
                        <div class="expense-header">
                            <h4 class="expense-title">{{ expense.expense_name }}</h4>
                            <h4 class="expense-category">{{ expense.get_category_display }}</h4>
                        </div>
                        <p class="expense-date">📅 {{ expense.date }}</p>
                    </div>
                    <div class="expense-amount">
                        <h4 class="expense-amount">ZAR {{ expense.amount }}</h4>
                        <a href="{% url 'expense_delete' expense.id %}" class="delete-btn">🗑</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% endif %}

{% endblock overview %}