<h3>Filter By Category</h3>

<div class="filters">
    <div class="category-filter">
        <a href="">Fixed / Extension</a>
    </div>
    <div class="category-filter">
        <a href="">Food & Daily Living</a>
    </div>
    <div class="category-filter">
        <a href="">Transportation</a>
    </div>
    <div class="category-filter">
        <a href="">Personal & Lifestyle</a>
    </div>
    <div class="category-filter">
        <a href="">Health & Wellness</a>
    </div>
    <div class="category-filter">
        <a href=""></a>
    </div>
    <div class="category-filter">
        <a href="">Fixed / Extension</a>
    </div>
    <div class="category-filter">
        <a href="">Fixed / Extension</a>
    </div>
    <div class="category-filter">
        <a href="">Fixed / Extension</a>
    </div>
</div>