<h3>Filter By Category</h3>

<div class="filters">
    <div class="category-filter">
        <a href="">🏠 Fixed / Essential</a>
    </div>
    <div class="category-filter">
        <a href="">🍽️ Food & Daily Living</a>
    </div>
    <div class="category-filter">
        <a href="">🚗 Transportation</a>
    </div>
    <div class="category-filter">
        <a href="">🧍 Personal & Lifestyle</a>
    </div>
    <div class="category-filter">
        <a href="">🏥 Health & Wellness</a>
    </div>
    <div class="category-filter">
        <a href="">🎓 Education</a>
    </div>
    <div class="category-filter">
        <a href="">🎉 Entertainment & Social</a>
    </div>
    <div class="category-filter">
        <a href="">💼 Work / Business</a>
    </div>
    <div class="category-filter">
        <a href="">🎁 Giving & Miscellaneous</a>
    </div>
</div>