<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Expense Tracker</title>
</head>
<body>
    <main>
        <div class="title">
            <h1>Expense Tracker</h1>
            <p>Track your spending and manage your budget effectively</p>
        </div>

        <div class="content">
            <div class="expense-form"></div>
            <div class="overview"></div>
            <div class="filter"></div>
            <div class="results"></div>
        </div>

    </main>
</body>
</html>