{% extends 'base.html' %}

{% block overview %}

    <div class="stats">
        <div class="stats-card">
            <h4>Total Expenses</h4>
            <h2 class="amount">R{{ total_amount }}</h2>
            <p>{{ expenses_count }} transactions</p>
        </div>
        <div class="stats-card">
            <h4>This Month</h4>
            <h2 class="amount">R{{ amount_month }}</h2>
            <p>{{ expenses_this_month_count }} transactions</p>
        </div>
        <div class="stats-card">
            <h4>Average/Transaction</h4>
            <h2 class="amount">R{{ average_amount }}</h2>
            <p>per expense</p>
        </div>

        {% include 'results.html' %}
    </div>

{% endblock %}